* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  font-family: "Poppins", sans-serif;
  background: rgb(177, 25, 25);
  color: aliceblue;
}


.menu-btn {
  position: absolute;
  top: 15px;
  left: 20px;
  font-size: 28px;
  cursor: pointer;
  color: aliceblue;
  background: rgb(177, 25, 25);
  padding: 5px 10px;
  border-radius: 4px;
  z-index: 1001;
}


.sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background: #111;
  padding-top: 60px;
  transition: left 0.3s ease;
  z-index: 1002;
}

.sidebar.active { left: 0; }

.sidebar ul { list-style: none; }
.sidebar ul li { padding: 15px 20px; border-bottom: 1px solid rgba(255,255,255,0.1); }
.sidebar ul li a {
  text-decoration: none;
  color: aliceblue;
  font-weight: bold;
  font-size: 14px;
  display: block;
}
.sidebar ul li a:hover { color: #ff4444; }
.sidebar ul li.logout { margin-top: 40px; }

.overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.5);
  display: none;
  z-index: 1000;
}
.overlay.active { display: block; }


.form-container {
  max-width: 400px;
  margin: 80px auto 40px;
  background: #000;
  padding: 20px;
  border-radius: 20px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.form-container h1 {
  background: rgb(177, 25, 25);
  color: #fff;
  font-size: 18px;
  padding: 10px;
  text-align: center;
  border-radius: 20px;
  margin-bottom: 20px;
}

form label {
  font-size: 13px;
  margin-bottom: 5px;
  display: block;
}

form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border-radius: 40px;
  border:  solid rgba(255, 255, 255, 0.2);
}

form input[type="file"] {
  background: #222;
  color: aliceblue;
  padding: 6px;
  cursor: pointer;
}

form .inline {
  display: flex;
  gap: 8px;
}



@media (max-width: 480px) {
  .form-container {
    max-width: 90%;
    margin: 70px auto;
  }

  .form-container h1 {
    font-size: 16px;
  }
}
